@model Swift.DAL.ViewCustomerDetail

@{
    ViewBag.Title = "Customer Order";
}

<div ng-app="AppDemo">
    <div ng-controller="CustomerOrder" class="container-fluid" style="margin-top:50px">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="panel panel-info">
                    <div class="panel-heading"><h2>Customer Order</h2></div>
                    <div class="panel-body">                        
                        <dif class="form-inline">
                            <div class="form-group">
                                <label>Order Date</label>
                                <input type="date" class="form-control" ng-model="SO.OrderDate">
                            </div>
                            <div class="form-group">
                                <label>Customer</label>
                                <input type="text" readonly class="form-control" value="@Model.AccountName">
                            </div>
                            <div class="form-group">                                                                
                                <button type="button" class="btn btn-info" ng-click="SaveTrans()">
                                    <span class="glyphicon glyphicon-saved"></span> Save
                                </button>
                            </div>
                        </dif>
                        <div id="CustomerProductList">

                            <div class="input-group input-group-lg" style="margin-top:10px">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                <input type="text" class="form-control" ng-model="CustProductSearchText" placeholder="Search" />
                            </div>
                            <table class="table table-bordered table-hover table-striped " style="display:inline-block;overflow:auto; max-height:200px;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ItemCode</th>
                                        <th>ItemName</th>
                                        <th>Price</th>
                                        <th>Dis%</th>
                                        <th>CGST%</th>
                                        <th>SGST%</th>
                                        <th>IGST%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in CustProductList | filter : CustProductSearchText | orderBy:'x.ItemCode'">
                                        <td><button ng-click="CustProductSelect (x)"><span class="glyphicon glyphicon-plus-sign"></span></button></td>
                                        <td ng-bind="x.ItemCode"></td>
                                        <td ng-bind="x.ItemName"></td>
                                        <td ng-bind="x.Price" class="text-right"></td>
                                        <td ng-bind="x.DiscountPer" class="text-right"></td>
                                        <td ng-bind="x.CGSTPer" class="text-right"></td>
                                        <td ng-bind="x.SGSTPer" class="text-right"></td>
                                        <td ng-bind="x.IGSTPer" class="text-right"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3"></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div>Total Customer Products: {{CustProductList.length}}</div>
                        </div>

                        <div id="SOProductList">

                            <div class="input-group input-group-lg" style="margin-top:10px">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                <input type="text" class="form-control" ng-model="SOProductSearchText" placeholder="Search" />
                            </div>
                            <table class="table table-bordered table-hover table-striped " style="display:inline-block;overflow:auto; max-height:200px;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ItemCode</th>
                                        <th>ItemName</th>
                                        <th>Amount</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in SOProductList  | filter : SOProductSearchText | orderBy:'x.ItemCode'" ng-init="x.TotQty=0">
                                        <td><button ng-click="SOProductSelect(x)"><span class="glyphicon glyphicon-minus-sign"></span></button></td>
                                        <td ng-bind="x.ItemCode"></td>
                                        <td >
                                            <div>{{x.ItemName}}</div>
                                            <table class="table table-bordered table-hover table-striped " style="display:inline-block;overflow:auto; max-height:200px;">
                                                <thead>
                                                    <tr>
                                                        <th><button ng-click="ProductQty_Insert(x)"><span class="glyphicon glyphicon-plus"></span></button></th>
                                                        <th>Sceduled Date</th>
                                                        <th>Qty</th>
                                                        <th>Delivary Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="y in x.QtyDetails  | orderBy:'y.ScheduledDate'" ng-init="$parent.x.TotQty = $parent.x.TotQty + y.Qty ">
                                                        <td><button ng-click="ProductQty_Remove(x,y)"><span class="glyphicon glyphicon-minus"></span></button></td>
                                                        <td><input type="date" ng-model="y.ScheduledDate" /></td>
                                                        <td><input type="text" ng-model="y.Qty" /></td>
                                                        <td><input type="date" ng-model="y.DeliveryDate" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="table table-bordered">
                                                <tr ng-init="ItemDetail=GetItemDetail(x)">
                                                    <td>Amount [{{ItemDetail.Price}} x {{ItemDetail.Qty}}]</td>
                                                    <td class="text-right">{{ItemDetail.Amount.toFixed(2)}}</td>
                                                </tr>
                                                <tr ng-show="ItemDetail.DisAmt!=0">
                                                    <td>Discount[{{ItemDetail.DisPer}}%]</td>
                                                    <td class="text-right">{{ItemDetail.DisAmt.toFixed(2)}}</td>
                                                </tr>
                                                <tr ng-show="ItemDetail.CGSTAmt!=0">
                                                    <td>CGST[{{ItemDetail.CGSTPer}}%]</td>
                                                    <td class="text-right">{{ItemDetail.CGSTAmt.toFixed(2)}}</td>
                                                </tr>
                                                <tr ng-show="ItemDetail.SGSTAmt!=0">
                                                    <td>CGST[{{ItemDetail.SGSTPer}}%]</td>
                                                    <td class="text-right">{{ItemDetail.SGSTAmt.toFixed(2)}}</td>
                                                </tr>
                                                <tr ng-show="ItemDetail.IGSTAmt!=0">
                                                    <td>CGST[{{ItemDetail.IGSTPer}}%]</td>
                                                    <td class="text-right" >{{ItemDetail.IGSTAmt.toFixed(2)}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Total</th>
                                                    <th class="text-right">{{ItemDetail.TotalAmount.toFixed(2)}}</th>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3"></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div>Total Customer Order Products: {{SOProductList.length}}</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
        var app = angular.module("AppDemo", []);

    app.controller('CustomerOrder', function ($scope, $http) {
        $scope.SO = {};
        $scope.SO.CustomerUID = @Model.UID;
        $scope.SO.OrderDate = new Date();
        $scope.CustProductSelect = function (x) {
            console.log(x);            
            $scope.CustProductList.splice($scope.CustProductList.indexOf(x), 1);
            x.QtyDetails = [];   
            $scope.ProductQty_Insert(x);
            $scope.SOProductList.push(x);

        };

        $scope.SaveTrans = function ()
        {

            var data = {
                OrderDate: $scope.SO.OrderDate,
                CustomerUID: $scope.SO.CustomerUID,
                ItemList: [],
                ItemQtyList: []
            };

            for (var i = 0; i < $scope.SOProductList.length; i++) {
                var Product = $scope.SOProductList[i];
                var Item = {
                    UID: Product.UID
                };
                data.ItemList.push(Item);

                for (var j = 0; j < Product.QtyDetails.length; j++) {
                    var q = Product.QtyDetails[j];
                    var ItemQty = {
                        ItemUID: Product.UID,
                        ScheduledDate: q.ScheduledDate,
                        DeliveryDate: q.DeliveryDate,
                        Qty: q.Qty
                    };
                    data.ItemQtyList.push(ItemQty);
                }
            }


            $http.post('/Home/SaveTrans', data).then(function (res) {
                console.log(res);
                if (res.data.IsSaved == true) {
                    $scope.SO.UID = res.data.UID;
                    $scope.SO.OrderNo = res.data.OrderNo;                    
                    alert("Saved. Order No : " + $scope.SO.OrderNo);
                } else {
                    alert(res.ErrMsg);
                }
            });
        }
        
        $scope.SOProductSelect = function (x) {
            console.log(x);
            $scope.CustProductList.push(x);
            $scope.SOProductList.splice($scope.SOProductList.indexOf(x), 1);
        };

        $scope.CustProductList = [];
        $http.get('/Home/CustomerProductList?UID=' + $scope.SO.CustomerUID).then(function (res) {
            console.log(res);
            $scope.CustProductList  = res.data;
        });

        $scope.GetItemDetail = function (x) {
            var ItemDetail = {};
            ItemDetail.Price = x.Price;
            var qty = 0;
            for (var i = 0; i < x.QtyDetails.length; i++) {
                qty = qty + x.QtyDetails[i].Qty;
            }

            ItemDetail.Qty = qty;
            ItemDetail.Amount = ItemDetail.Price * ItemDetail.Qty;

            ItemDetail.DisPer = x.DiscountPer;
            ItemDetail.DisAmt = Number((ItemDetail.Amount * ItemDetail.DisPer / 100).toFixed(2));

            ItemDetail.ItemAmount = ItemDetail.Amount - ItemDetail.DisAmt;

            ItemDetail.CGSTPer = x.CGSTPer;
            ItemDetail.CGSTAmt = Number((ItemDetail.ItemAmount * ItemDetail.CGSTPer / 100).toFixed(2));

            ItemDetail.SGSTPer = x.SGSTPer;
            ItemDetail.SGSTAmt = Number((ItemDetail.ItemAmount * ItemDetail.SGSTPer / 100).toFixed(2));

            ItemDetail.IGSTPer = x.IGSTPer;
            ItemDetail.IGSTAmt = Number((ItemDetail.ItemAmount * ItemDetail.IGSTPer / 100).toFixed(2));

            ItemDetail.TotalAmount = Number((ItemDetail.ItemAmount + ItemDetail.CGSTAmt + ItemDetail.SGSTAmt + ItemDetail.IGSTAmt).toFixed(2));
            
            return ItemDetail;
        };

        $scope.SOProductList = [];

        $scope.ProductQty_Insert = function(x){
            x.QtyDetails.push({ "ScheduledDate": new Date(), Qty: 1,"DeliveryDate" : new Date()});
        }

        $scope.ProductQty_Remove = function (x, y) {
            x.QtyDetails.splice(x.QtyDetails.indexOf(y), 1);
        }

        
    });



</script>